[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atri = "==0.0.90"
fastapi = "==0.84.0"
uvicorn = "*"
jsonpickle = "*"
python-multipart = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
