.p-Home.Body {
display: flex;
flex-direction: column;
background-color: #000111ff;
}
.p-Home.section_one {
display: flex;
background-image: url("/app-assets/grid.png");
background-color: ;
width: ;
height: ;
flex-direction: column;
padding-top: 72px;
padding-right: 64px;
padding-left: 64px;
position: relative;
}
.p-Home.header {
display: flex;
border-color: #2E2F35ff;
border-width: 0.5px;
border-style: solid;
border-radius: 50px;
background-color: #00011166;
justify-content: space-between;
align-items: center;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 16px;
font-family: Sora;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFFff;
position: sticky;
top: 72px;
z-index: 2;
width: ;
right: 64px;
left: 64px;
}
.p-Home.logo {
display: flex;
column-gap: ;
}
.p-Home.navigation {
display: flex;
column-gap: 16px;
}
.p-Home.Flex47 {
display: flex;
align-items: center;
}
.p-Home.Menu1 {
display: none;
}
.p-Home.Flex74 {
display: flex;
}
.p-Home.top_menu {
display: flex;
}
.p-Home.hero_section {
display: flex;
flex-direction: column;
padding-top: 72px;
align-items: center;
row-gap: 40px;
padding-left: ;
padding-right: ;
margin-bottom: ;
padding-bottom: 100px;
}
.p-Home.open_source {
display: flex;
align-items: center;
justify-content: center;
column-gap: 16px;
font-family: Sora;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FBFBFBff;
}
.p-Home.Flex43 {
display: flex;
align-items: center;
box-sizing: border-box;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
border-radius: 24px;
padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
column-gap: 12px;
cursor: pointer;
}
.p-Home.Div3 {
position: relative;
width: 90%;
padding-top: ;
}
.p-Home.Flex45 {
display: flex;
justify-content: center;
position: relative;
}
.p-Home.footer {
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
padding-top: 24px;
padding-right: 40px;
padding-bottom: 24px;
padding-left: 40px;
background-color: #0D0D16ff;
}
.p-Home.Flex101 {
display: flex;
row-gap: 32px;
justify-content: flex-start;
flex-direction: column;
}
.p-Home.Flex98 {
display: flex;
justify-content: space-between;
width: 100%;
font-family: Sora;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #ffff;
}
.p-Home.Flex93 {
display: flex;
background-color: transparent;
column-gap: 16px;
justify-content: space-between;
align-items: flex-start;
}
.p-Home.Flex81 {
display: flex;
align-items: center;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
padding-left: 8px;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
width: 20px;
border-radius: 24px;
justify-content: center;
height: 20px;
cursor: pointer;
}
.p-Home.Flex82 {
display: flex;
align-items: center;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
padding-left: 8px;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
width: 20px;
border-radius: 24px;
justify-content: center;
height: 20px;
cursor: pointer;
}
.p-Home.Flex83 {
display: flex;
align-items: center;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
padding-left: 8px;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
width: 20px;
border-radius: 24px;
justify-content: center;
height: 20px;
cursor: pointer;
}
.p-Home.Flex84 {
display: flex;
align-items: center;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
padding-left: 8px;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
width: 20px;
border-radius: 24px;
justify-content: center;
height: 20px;
cursor: pointer;
}
.p-Home.Flex85 {
display: flex;
align-items: center;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
padding-left: 8px;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
width: 20px;
border-radius: 24px;
justify-content: center;
height: 20px;
cursor: pointer;
}
.p-Home.Flex94 {
display: flex;
column-gap: 8px;
align-items: center;
}
.p-Home.Flex86 {
display: flex;
align-items: center;
box-sizing: border-box;
border-width: 0.5px;
border-style: solid;
border-color: #494A55ff;
border-radius: 24px;
padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
column-gap: 12px;
cursor: pointer;
}
.p-Home.Flex87 {
display: flex;
column-gap: ;
align-items: stretch;
}
.p-Home.Flex99 {
display: flex;
justify-content: space-between;
align-items: stretch;
font-family: Sora;
font-weight: 300;
font-size: 12px;
line-height: 20px;
color: #DDDDDDff;
}
.p-Home.Flex95 {
display: flex;
column-gap: 16px;
color: #B283FFff;
}
.p-Home.Flex100 {
display: flex;
font-family: Sora;
font-weight: 500;
font-size: 16px;
color: #ffff;
line-height: 26px;
column-gap: 16px;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex96 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex88 {
display: flex;
flex-direction: column;
row-gap: 8px;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex77 {
display: flex;
flex-direction: column;
font-family: Sora;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #DDDDDDff;
row-gap: 8px;
}
.p-Home.Flex89 {
display: flex;
flex-direction: column;
row-gap: 8px;
}
.p-Home.Flex78 {
display: flex;
flex-direction: column;
font-family: Sora;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #DDDDDDff;
row-gap: 8px;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
row-gap: 8px;
}
.p-Home.Flex79 {
display: flex;
flex-direction: column;
font-family: Sora;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #DDDDDDff;
row-gap: 8px;
}
.p-Home.Flex91 {
display: flex;
flex-direction: column;
row-gap: 8px;
}
.p-Home.Flex80 {
display: flex;
flex-direction: column;
font-family: Sora;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #DDDDDDff;
row-gap: 8px;
}
.p-Home.Flex97 {
display: flex;
flex-direction: column;
row-gap: 8px;
}
.p-Home.Flex92 {
display: flex;
flex-direction: row;
font-family: Sora;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #DDDDDDff;
row-gap: 8px;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 16px;
border-radius: 24px;
border-color: #494A55ff;
border-width: 0.5px;
border-style: solid;
justify-content: space-between;
align-items: center;
}
.p-Home.sign_up_status {
display: none;
}
.p-Home.section_two {
display: flex;
}
.p-Home.Image25 {
;
}
.p-Home.Image26 {
;
}
.p-Home.TextBox26 {
cursor: pointer;
}
.p-Home.TextBox27 {
cursor: pointer;
}
.p-Home.TextBox28 {
cursor: pointer;
}
.p-Home.TextBox29 {
cursor: pointer;
}
.p-Home.Button1 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 16px;
padding-bottom: 8px;
padding-right: 16px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #2E2F35ff;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox53 {
;
}
.p-Home.TextBox54 {
;
}
.p-Home.TextBox55 {
;
}
.p-Home.TextBox56 {
;
}
.p-Home.slogan {
line-height: 80px;
font-size: 64px;
font-family: Sora;
font-weight: 600;
color: #ffff;
align-self: center;
}
.p-Home.benefits {
line-height: 28px;
font-size: 20px;
font-family: Sora;
font-weight: 300;
color: #ffff;
align-self: center;
text-align: center;
}
.p-Home.TextBox31 {
color: ;
}
.p-Home.Image27 {
;
}
.p-Home.TextBox32 {
font-size: 16px;
color: #FFFFFFff;
line-height: 26px;
}
.p-Home.code_one {
position: absolute;
z-index: 1;
float: none;
clear: none;
height: 40%;
margin-left: 20px;
}
.p-Home.code_two {
width: ;
height: 30%;
position: absolute;
z-index: 1;
top: 0;
right: 0;
}
.p-Home.Image31 {
width: 90%;
position: relative;
top: 0;
left: 0;
height: 100%;
}
.p-Home.code_two_snippet {
width: ;
height: 30%;
position: absolute;
z-index: 1;
top: 0;
right: 0;
}
.p-Home.code_one_snippet {
position: absolute;
left: 0;
z-index: 1;
top: 0;
float: none;
clear: none;
height: 40%;
margin-left: 20px;
}
.p-Home.Div6 {
position: absolute;
bottom: 0;
width: 25%;
height: 25%;
background-color: #C183FFff;
}
.p-Home.Image44 {
;
}
.p-Home.Image45 {
;
}
.p-Home.Image46 {
;
}
.p-Home.Image47 {
;
}
.p-Home.Image48 {
;
}
.p-Home.Image49 {
;
}
.p-Home.TextBox67 {
font-size: 16px;
color: #FFFFFFff;
line-height: 26px;
}
.p-Home.Image50 {
;
}
.p-Home.Image51 {
;
}
.p-Home.TextBox75 {
font-family: ;
font-weight: 300;
font-size: ;
line-height: ;
color: ;
align-self: auto;
}
.p-Home.TextBox72 {
;
}
.p-Home.TextBox73 {
;
}
.p-Home.TextBox68 {
color: ;
}
.p-Home.TextBox59 {
cursor: pointer;
}
.p-Home.TextBox60 {
cursor: pointer;
}
.p-Home.TextBox69 {
color: ;
}
.p-Home.TextBox61 {
cursor: pointer;
}
.p-Home.TextBox62 {
cursor: pointer;
}
.p-Home.TextBox63 {
cursor: pointer;
}
.p-Home.TextBox70 {
color: ;
}
.p-Home.TextBox64 {
cursor: pointer;
}
.p-Home.TextBox65 {
cursor: pointer;
}
.p-Home.TextBox71 {
color: ;
}
.p-Home.TextBox66 {
cursor: pointer;
}
.p-Home.TextBox74 {
color: ;
}
.p-Home.sign_up_button {
border-color: #494A55ff;
border-width: 0.5px;
border-style: solid;
border-radius: 50px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
cursor: pointer;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #ffffffd9;
font-size: 14px;
background-color: transparent;
background-image: none;
border-width: 1px;
border-style: none;
border-color: #d9d9d9;
border-radius: 2px;
flex-grow: 1;
outline-color: transparent;
font-family: Sora;
}
.p-Home.sign_up_status_text {
;
}
@media screen and (max-width: 991px) {
	.p-Home.navigation.bpt {
display: none;
	}
	.p-Home.Menu1.bpt {
display: flex;
	}
	.p-Home.Flex74.bpt {
padding-top: 20px;
	}
	.p-Home.top_menu.bpt {
width: 10em;
padding-top: 10px;
flex-direction: column;
padding-bottom: 10px;
padding-right: 4px;
padding-left: 4px;
border-color: #2E2F35ff;
border-style: solid;
border-width: 0.5px;
background-color: #00011166;
font-family: Sora;
font-weight: 600;
	}
	.p-Home.Flex86.bpt {
cursor: pointer;
	}
	.p-Home.Flex100.bpt {
flex-direction: column-reverse;
row-gap: 40px;
align-items: center;
	}
	.p-Home.TextBox53.bpt {
text-align: right;
padding-top: 6px;
padding-bottom: 6px;
cursor: pointer;
	}
	.p-Home.TextBox54.bpt {
text-align: right;
padding-top: 6px;
padding-bottom: 6px;
cursor: pointer;
	}
	.p-Home.TextBox55.bpt {
text-align: right;
padding-top: 6px;
padding-bottom: 6px;
cursor: pointer;
	}
	.p-Home.TextBox56.bpt {
text-align: right;
padding-top: 6px;
padding-bottom: 6px;
cursor: pointer;
	}
	.p-Home.header.bpt {
border-color: #2E2F35ff;
background-color: #000111ff;
	}
	.p-Home.Flex47.bpt {
column-gap: 30px;
	}
	.p-Home.Flex98.bpt {
flex-direction: column;
align-items: center;
row-gap: 20px;
	}
	.p-Home.Flex96.bpt {
flex-wrap: wrap;
row-gap: 20px;
	}
	.p-Home.slogan.bpt {
font-size: 42px;
	}
}
@media screen and (max-width: 767px) {
	.p-Home.section_one.bpt {
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
	}
	.p-Home.header.bpt {
top: 40px;
	}
	.p-Home.open_source.bpt {
font-size: 14px;
	}
	.p-Home.TextBox32.bpt {
font-size: 14px;
	}
	.p-Home.TextBox67.bpt {
font-size: 14px;
	}
	.p-Home.hero_section.bpt {
padding-bottom: 16px;
	}
	.p-Home.slogan.bpt {
font-size: 2em;
	}
	.p-Home.benefits.bpt {
font-size: 1em;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.Flex47.bpt {
column-gap: 20px;
	}
	.p-Home.hero_section.bpt {
row-gap: 20px;
	}
	.p-Home.Flex98.bpt {
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 20px;
	}
	.p-Home.Flex96.bpt {
justify-content: space-between;
	}
	.p-Home.slogan.bpt {
font-size: 1.5em;
	}
	.p-Home.benefits.bpt {
font-size: 1em;
text-align: center;
	}
}