@media screen and (max-width: 600px) {
    .p-Home.footer_row_two {
        display: grid;
        grid-template-areas: 'col_one col_two'
            'col_three col_four'
            'col_five col_five';
        row-gap: 24px;
    }
}
.p-Home.anouncement,
.p-Home.header {
	backdrop-filter: blur(10px);
}

.p-Home.slogan_container, .p-Home.TextBox177 {
	color: transparent;
	background-image: radial-gradient(#fff 0%, #000 200%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p-Home.subtitle_container, .p-Home.TextBox176 {
	color: transparent;
	background-image: radial-gradient(#dddddd 0%, rgba(221, 221, 221, 0) 175%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p-Home.subtitle_container_mob {
	color: transparent;
	background-image: radial-gradient(#dddddd 0%, rgba(221, 221, 221, 0) 175%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p-Home.top_menu:before {
	content: " ";
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
