.p-Home.anouncement,
.p-Home.header {
	backdrop-filter: blur(10px);
}

.p-Home.slogan_container {
	color: transparent;
	background-image: radial-gradient(#fff 0%, #000 200%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p-Home.subtitle_container {
	color: transparent;
	background-image: radial-gradient(#dddddd 0%, rgba(221, 221, 221, 0) 175%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p-Home.subtitle_container_mob {
	color: transparent;
	background-image: radial-gradient(#dddddd 0%, rgba(221, 221, 221, 0) 175%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p-Home.top_menu:before {
	content: " ";
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
